.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.avatar-content
{
  align-self: center;
    align-items: center;
    text-align: center;
}
.ai-avatar
{
  text-align: center;
  height: 100px;

}
.statistics-card {
  width: 100%;
}

.inline-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.transactions-card {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    margin: 20px 20px 0;
  }
}

.categories-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    margin: 20px 20px 0;
  }
}

.recording-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.record-btn {
  margin-bottom: 0.5rem;
}

.btn-icon {
  font-size: 24px;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.amount.income {
  color: green;
}

.amount {
  font-weight: bold;
}

.description {
  font-size: 0.9rem;
}

.created-date {
  font-size: 0.8rem;
  color: gray;
}
 
.transaction-details {
  display: flex;
  flex-direction: row;
  gap: 4px;

  & .amount
  {
    color: red;
  
    &.income
    {
      color: #4caf50 !important;
    }
  }
}